@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Pinyon+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/*
font-family: 'Great Vibes', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Satisfy', cursive;
 */


*{
  font-family: monospace;
}

.row{
  background-image: url(../../assets/images/bg2.png);
  background-size: cover;
  height: 90vh;
  max-width: 100%;
}

.row h1{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;  display: flex;
  justify-content: center;
  align-items: start;
  color: white;
  font-size: 6rem;
  /* letter-spacing: 10px; */
  text-shadow: #44D62C 1px 0 8px;
  /* text-shadow: #000 1px 0 8px; */
  white-space: nowrap;
}
.row h1 span{
  font-size: 10rem;
  font-family: 'Bangers', cursive;
}

.row .btn-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  border: 2px solid #000000;
  background-color: #44D62C;
  padding: 5px 20px;
}

a{
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

a:hover{
  background-color: #6ed85e;
  transition: 0.3s;
  color: #000;
}
p{
  padding-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
