<div class="main p-4 bg-black">
  <div class="container">
      <div class="row text-white ">
          <div class="col-md-4">
              <h5>CONTACT ME</h5>
              <span><i class="fa-solid fa-envelope m-2"></i>01118561824</span><br>
              <span><i class="fa-solid fa-phone m-2"></i>1hend.adel1@gmail.com</span>
          </div>
          <div class="col-md-4 text-center">
            <div class="btn-cont">
              <a class="btn btn-lg mt-4" href="#!" role="button">
                contact</a>
            </div>
          </div>
          <div class="col-md-4 text-right linkss">
            <div>
              <a href="https://linkedin.com/in/hend-adel"><i class="fa-brands fa-linkedin m-2"></i></a>
              <a href="https://www.youtube.com/@hendo2162" target="_blank"><i class="fa-brands fa-youtube m-2"></i></a>
              <a href="https://github.com/HendAdel1?tab=repositories" target="_blank"><i class="fa-brands fa-github m-2"></i></a>
            </div>
            <div>
              <p>copyright &copy; 2023</p>
            </div>
          </div>
      </div>
  </div>
</div>
