<div class="container mt-5 ">
  <form class="row" [formGroup]="registrationForm" (ngSubmit)="submit()">
      <h1 class="mb-4">Regestration Form</h1>
      <div class="col-md-6 mb-3">
          <label for="" class="mb-2">FirstName:</label>
          <input type="text" class="form-control" formControlName="firstName">
          <div *ngIf="registrationForm.controls['firstName'].touched">
              <p *ngIf="registrationForm.controls['firstName'].errors?.['required']" class="text-danger mt-2">Frist Name is required</p>
              <p *ngIf="registrationForm.controls['firstName'].errors?.['minlength']" class="text-danger mt-2">Min Length is 3</p>
              <p *ngIf="registrationForm.controls['firstName'].errors?.['maxlength']" class="text-danger mt-2">Max Length is 8</p>
          </div>
      </div>
      <div class="col-md-6 mb-3">
          <label for="" class="mb-2">LastName:</label>
          <input type="text" class="form-control" formControlName="lastName">
          <div *ngIf="registrationForm.controls['lastName'].touched">
              <p *ngIf="registrationForm.controls['lastName'].errors?.['required']" class="text-danger mt-2">Last Name is required</p>
              <p *ngIf="registrationForm.controls['lastName'].errors?.['minlength']" class="text-danger mt-2">Min Length is 3</p>
              <p *ngIf="registrationForm.controls['lastName'].errors?.['maxlength']" class="text-danger mt-2">Max Length is 8</p>
          </div>
      </div>
      <div class="form-group mb-3">
          <label for="" class="mb-2">Email:</label>
          <input type="email" class="form-control" formControlName="email">
          <div *ngIf="registrationForm.controls['email'].touched">
              <p *ngIf="registrationForm.controls['email'].errors?.['required']" class="text-danger mt-2">Email is required</p>
              <p *ngIf="registrationForm.controls['email'].errors?.['email']" class="text-danger mt-2">Email not valid</p>
          </div>
      </div>
      <div class="form-group mb-3">
          <label for="" class="mb-2">Password:</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="registrationForm.controls['password'].touched">
              <p *ngIf="registrationForm.controls['password'].errors?.['required']" class="text-danger mt-2">password is required</p>
              <p *ngIf="registrationForm.controls['password'].errors?.['pattern']" class="text-danger mt-2">password must be at least 8 characters, combination of uppercase, lowercase letters, and the special characters</p>
          </div>
      </div>
      <div class="form-group mb-3">
          <label for="" class="mb-2">Repeat Password:</label>
          <input type="password" class="form-control" formControlName="repeatPassword">
          <div *ngIf="registrationForm.controls['repeatPassword'].touched">
              <p *ngIf="registrationForm.controls['repeatPassword'].errors?.['required']" class="text-danger mt-2">password is required</p>
              <p *ngIf="!registrationForm.controls['repeatPassword'].errors && registrationForm.controls['password'].value !== registrationForm.controls['repeatPassword'].value" class="text-danger mt-2">password not match</p>
          </div>
      </div>
      <div class="btn-sub">
        <button [disabled]="registrationForm.invalid || registrationForm.controls['password'].value !== registrationForm.controls['repeatPassword'].value" type="submit" class="mb-2 btn">Submit</button>
      </div>
      <a routerLink="/login" class="text-decoration-none text-center mb-3">Already have account! Login</a>
  </form>

</div>
